<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="auth/facebook">Easy Map</a>
        </div>
      </div>
</nav>


<div class="container">
  <div class="row mt-70">
    <div class="col-md-3">
    <div class="list-group">
      <a href="#" id='locate-me' class="list-group-item">
      Locate Me
      <i class="fa fa-map-marker pull-right fa-2"></i>
      </a>
    </div>
    <div class="list-group" id="main-category-list" hidden>

    </div>
    </div>
    <div class="col-md-9 map-container">
      <div id="googleMap" style="height:85vh"></div>
    </div>
  </div>
</div>

 <script id="popupWindow-templ" type="x-tmpl-mustache">
  <div>
    <div class="window-name">{{name}}</div> 
    {{#rating}}
    <div class="window-rating">Rating : {{rating}}</div>
    {{/rating}}
    {{#opening_hours.open_now}}
      <div class="window-open">Open</div>
    {{/opening_hours.open_now}}
    {{^opening_hours.open_now}}
      <div class="window-close">Closed</div>
    {{/opening_hours.open_now}}
    <div class="mw">
    {{{vicinity}}}
    </div>
  </div>
 </script>

 <script id="category-templ" type="x-tmpl-mustache">
 {{#content}}
  <a href="#" data-name="{{slug}}" class="list-group-item serachable hidden">{{name}}</a>
 {{/content}}
 </script>