<div class="left-side"></div>
<img src="images/flat-avatar.png" class="miniom">
<h1>Easy Map</h1>
<h5 style="margin-top: 66px;">Searching Made Easy</h5>
<a class="btn btn-block btn-social btn-lg btn-facebook" href="auth/facebook">
        <i class="fa fa-facebook"></i> Sign in with Facebook
</a>
<div class="right-side"></div>