.navbar-default {background-color: teal; border-color: #0CF7F7; color: #FFF;}
.navbar-default .navbar-brand {color: #FFF;}
.navbar-default .navbar-brand:hover {color: #FFF;}
.mt-70{margin-top: 70px;}
.map-container{
    padding: 1px;
    border: rgba(0, 128, 128, 0.3) 1px solid;
    box-shadow: rgba(0, 128, 128, 0.25) 0px 0px 10px;
}
.window-name{font-weight: bold;color: #ED143D;margin-right: 15px;}
.mw{max-width: 250px;}
.window-open{
    font-weight: bold;
    color: #009800;
}

.window-close{
    font-weight: bold;
    color: #DC0000;
}
.window-rating{
    font-weight: bold;
    color: gray;
}
#main-category-list{border-radius: 5px;
    border-top: #DDDDDD 1px solid;}

      .left-side{ width: 30%; height: 100vh; background-color: #1E423B; display: inline-block; }
      .right-side{ width: 70%; height: 100vh; background-color: #12352F; float: right; display: inline-block; }
      .miniom{
        position: absolute;
        width: 16%;
        left: 22%;
        top: 22%;
    }
    h1, h5{position: absolute;color: rgba(255, 255, 255, 0.8);top: 56%;left: 23.5%;font-weight: bold;}
      body{overflow-y: hidden;}

    .btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
    .btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}

    .btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding-left:0;padding-right:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
    .btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
    .btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
    .btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}

    .btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2); position: absolute;top: 36%;width: 275px;left: 41%;}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
    .btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
